<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Давоян Карине. {{num}}</title>
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{num}}
    </header>
    <main>
        5 + 2 = {{5+2}} <br> 
        11 * 28 = {{11*28}} <br>
        8452/793 = {{8452/793}} <br>
        45**8 = {{45**8}}
    </main>
    <footer>
        &copy; {{name}}, {{group}}, {{kurs}},2023
    </footer>
    
</body>
</html>