{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

    <h1>Заказ  напитка</h1>
    <form action="/lab3/pay">
        <div> <b>Напиток:</b></div> <br>
        <label>
            <input type="radio" value="coffee" name="drink" checked>кофе. Стоимость 120 рублей
        </label> <br>
        <label>
            <input type="radio" value="black-tea" name="drink" checked>черный чай. Стоимость 80 рублей
        </label> <br>
        <label>
            <input type="radio" value="green-tea" name="drink" checked>зеленый чай. Стоимость 70 рублей
        </label> <br> <br>
            
        <div><b>Добавки:</b></div> <br>
        <label>
            <input type="checkbox" name="milk">молоко. Стоимость 30 рублей
        </label><br>
        <label>
            <input type="checkbox" name="sugar">сахар. Стоимость 10 рублей
        </label><br><br>
        
        <div>
            <button type="submit">Заказать</button>
        </div>
    </form>
    {% endblock %}